@import '@styles/abstracts/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $width-container;
  height: 100%;

  margin: 0 auto;
  padding: 0 $gap-container;
}
