* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100vh;
}

html[data-theme='dark'] {
  --bg: var(--ebony);
  --color-text: var(--white);
  --bg-toggle: var(--mine-shaft);
  --text-toggle: var(--color-text);
}

html[data-theme='light'] {
  --bg: var(--white);
  --color-text: var(--mine-shaft);
  --bg-toggle: var(--iron);
  --text-toggle: var(--white);
}

body {
  height: 100vh;

  font-family: $font-family;
  background-color: var(--bg);
  color: var(--color-text);
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

img:not([class]) {
  max-width: 100%;
}
